    <header>
      <%= image_tag('g16_logo-green.png', :size => '280x100', title: "Prüfung - G16 Farmsen") %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span style="color:#e36a16; font-size:2em; border-bottom: 3px #79B578 solid;">FIT Prüfung 2015</span>
      <%= render 'layouts/navigation' %>
    </header>