<h1>New Task for <%= @project.title %></h1>

<%= render 'form' %>

<div class="panel callout radius">
  <ul class="inline-list">
    <li><%= link_to 'Project', project_path(@project) %></li>
    <li><%= link_to 'Back', project_tasks_path(@project) %></li>
  </ul>
</div>
